In [2]:
import pandas as pd
from pymongo import MongoClient

# Connessione al server MongoDB (assicurati che il server MongoDB sia in esecuzione)
client = MongoClient('localhost', 27017)

# Seleziona il database
db = client['DB_Proj_DSBDA']

# Seleziona la collezione
collection = db['ProjectDSBDA']

# Esegui una query per leggere tutti i documenti dalla collezione
cursor = collection.find({})

# Converti i documenti in un DataFrame pandas
df = pd.DataFrame(list(cursor))

# Chiudi la connessione al client MongoDB
client.close()

# Stampa il DataFrame
print(df.head())  # Stampa le prime righe del DataFrame per verificarne il contenuto
print(df.shape)

                        _id  index                         restaurant_name  \
0  667ea36de95823cbcf2ebede    210                         Meat Steakhouse
1  667ea36de95823cbcf2ebedf    212                              131 Street
2  667ea36de95823cbcf2ebee0    211  Boulangerie Pâtisserie Breads Paradise
3  667ea36de95823cbcf2ebee1    213                      Les Frères Da Cruz
4  667ea36de95823cbcf2ebee2    214                   Creperie de la Mairie

  country         region      province            city   latitude longitude  \
0  France  Ile-de-France  Val-de-Marne  Maisons-Alfort  48.816128  2.420467
1  France  Ile-de-France  Val-de-Marne  Maisons-Alfort  48.794495  2.434294
2  France  Ile-de-France  Val-de-Marne  Maisons-Alfort   48.81508  2.417853
3  France  Ile-de-France  Val-de-Marne  Maisons-Alfort  48.807163  2.445887
4  France  Ile-de-France  Val-de-Marne  Maisons-Alfort   48.80013   2.43233

     claimed  ... food service value atmosphere field37 field38 field39  \
0  Unclaimed  ...                                   NaN     NaN     NaN
1  Unclaimed  ...                                   NaN     NaN     NaN
2  Unclaimed  ...                                   NaN     NaN     NaN
3    Claimed  ...                                   NaN     NaN     NaN
4  Unclaimed  ...                                   NaN     NaN     NaN

  field40 field41 field42
0     NaN     NaN     NaN
1     NaN     NaN     NaN
2     NaN     NaN     NaN
3     NaN     NaN     NaN
4     NaN     NaN     NaN

[5 rows x 44 columns]
(49239, 44)